# Autotools-generated
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/configure~
/libtool
/m4/lt*.m4
/m4/libtool.m4
/stamp-h1
.deps/
.libs/
*.o
*.lo
*.la

# Build output
/src/mcp-kodi

# Editor / tooling
*.swp
/compile_commands.json
/.cache/
